html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
}

h3 {
	font-size: 4vw;
}

.leftbar {
	width:6%;
	height: 1100px;
	background:magenta;
	font-size: 10vw;
	text-align: center;
	position: fixed;
	display: inline-block;

}


.heart {
	position: relative;
  display: inline-block;
}

#heartDiv {
    display: none;
    background-color: black;
    color: white;
    font-size: 1vw;
    height:auto;
    width:290px;
    margin-left: 10%;
    text-align: left;
}

a:hover + #heartDiv {
    display: block;
}



.container {
	left: 8%;
	top: 5%;
	width: 100%;
	height: 1000px;
	background: ;
	position: absolute;
	font-size: 9vw;
	font-weight: bold;
	line-height: 90%;
}

.act1 {
line-height: 110%;
font-size: 10vw;
transition: transform .1s;
}
.act1:hover {
    text-decoration: underline;
}


.act2 {
line-height: 100%;
font-size: 10vw;
}

.act2:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}


.act3 {
line-height: 100%;
font-size: 10vw;
background:rgba(0, 0, 0, 0);
width: 75%;
 
}

.act3:hover{
	color:white;
    background:rgba(0, 0, 0, 1);
    filter:alpha(opacity=80); /* For IE8 and earlier */ 
}

#info {
	height:8%;
	width: 2000px;
	color: magenta;
	position: fixed;
	bottom: 0;
	left: 8%;
	font-size: 3vw;
	font-weight: bold;
}